@charset "UTF-8";.icon-info:before{content:'\2139';}
.icon-cog:before{content:'\2699';}
.icon-cancel:before{content:'\2715';}
.icon-cw:before{content:'\27f3';}
.icon-play-circle2:before{content:'\e761';}
.icon-spin1:before{content:'\e830';}
.icon-spin2:before{content:'\e831';}
.icon-spin3:before{content:'\e832';}
.icon-spin4:before{content:'\e834';}
.icon-spin5:before{content:'\e838';}
.icon-headphones:before{content:'🎧';}
.icon-trophy:before{content:'🏆';}
.icon-award:before{content:'🏉';}
.icon-user:before{content:'👤';}
.icon-users:before{content:'👥';}
